html {
    font-family: Lato light, sans-serif;
}

*,
*::after,
*::before {
    /*box-sizing: inherit;*/
    box-sizing: border-box;
}

/*button {*/
    /*font: inherit;*/
/*}*/

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #474f61;
    background-image: linear-gradient(0deg, #474f61 0%, #ffaa00 75%);
    color: #cff9f3;
    padding: 15px;
}

.left_p {
    width: 33.33%;
}

.center_p {
    width: 33.33%;
    margin: 0 5px;
}

.right_p {
    width: 33.33%;
}

.sys_panel {
    /*border-style: solid;*/
    /*border-color: #FFaa00;*/
    width: 100%;
    background-color: #474f61;
    box-shadow: 0px 5px 15px #000000;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px;
}

.panel_title {
    margin: 5px 0;
}

.ecs_pwr_cmd, .ecs_pwr_body, .ecs_init, .mcs_sp, .crcs_sp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pwr_ind {
    display: flex;
    flex-direction: column;
}

.mcs_sp#mcs_az_pnl {
    margin: 5px 0 15px 0;
}

.mcs_sp#mcs_el_pnl {
    margin: 15px 0 5px 0;
}

.axis_ctrl {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.axis_ctrl.right {
    /*margin-left: 10px;*/
    width: fit-content;
}

.axis_ctrl.left {
    width: 50%;
}

.axis_lbl {
    font-size: 26px;
}

.indicator {
    height: 20px;
    width: 20px;
    background-color: #61fb00;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    margin: 0 10px;
}

.section_col {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0 0;
}

.ecs_mech__status {
    display: inline-flex;
    align-items: center;
    margin: 2px 0;
}

/*.main__onoff-on, .main__onoff-off {*/
/*button, select{*/
    /*border-radius: 10px;*/
/*}*/

.main__onoff {
    display: flex;
}

.main__onoff-on, .main__onoff-off {
    display: inline-block;
    border-width: 0;
    font: inherit;
    font-size: 0.8em;
    cursor: pointer;
    transition: 200ms;
}

.main__onoff-on {
    border-radius: 10px 0 0 10px;
    background-color: #AAFFAA;
    padding: 2px 10px 2px 10px;
}

.main__onoff-on:active {
    background-color: #22FF55;
    color: #558811;
}

.main__onoff-off {
    border-radius: 0 10px 10px 0;
    background-color: #FFAAAA;
    padding: 2px 10px 2px 10px;
}

.main__onoff-off:active {
    background-color: #FF001f;
    color: #ffafaf;
}

/* Start of Assert/Disassert Buttons style specs */

.ctrl_bttns {
    display: flex;
    align-items: center;
    margin: 3px 0px;
}

button.action_button {
    font: inherit;
    width: 140px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0px;
    /*margin: 10px;*/
}

button.action_button.action {
    background: #22ff22;
    margin-right: 3px;
}

button.action_button.reaction {
    background: #ffaaaa;
    margin-left: 3px;
}

button.action_button,
button.action_button .bttn_text,
button.action_button .bttn_img {
    transition: 200ms;
}

button.action_button .bttn_text {
    font-size: 0.9em;
    font-weight: bold;
    transform: translateX(0px);
    width: 100px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.action_button.action .bttn_text {
    color: #155015;
}

button.action_button.reaction .bttn_text {
    color: #702020;
}

button.action_button .bttn_img {
    position: absolute;
    height: 30px;
    width: 40px;
    transform: translateX(98px);
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding: 0px 2px 0px 2px;*/
}

button.action_button.action .bttn_img {
    border-left: 1px solid #00cc00;
}

button.action_button.reaction .bttn_img {
    border-left: 1px solid #dd6666;
}

button.action_button.action:hover {
    background: #66ff66;
}

button.action_button.action:active {
    box-shadow: 0px 0px 15px #99ff99;
}

button.action_button.reaction:hover {
    background: #ff6666;
}

button.action_button.reaction:active {
    box-shadow: 0px 0px 15px #ff9999;
}

button.action_button:hover .bttn_text {
    color: transparent;
}

button.action_button:hover .bttn_img {
    width: 140px;
    border-left: none;
    transform: translateX(0);
}

button.action_button.drives {
    width: 140px;
}

/*button.action_button.crdrives {*/
    /*width: 110px;*/
/*}*/

/*button.action_button.crdrives .bttn_text {*/
    /*transform: translateX(0px);*/
    /*width: 80px;*/
/*}*/

/*button.action_button.crdrives .bttn_img {*/
    /*position: absolute;*/
    /*height: 30px;*/
    /*width: 30px;*/
    /*transform: translateX(78px);*/
/*}*/

/*button.action_button:hover .bttn_img {*/
    /*width: 110px;*/
    /*transform: translateX(0);*/
/*}*/

/*Status indicator*/

.status_indicator {
    display: flex;
    /*height: 40px;*/
    /*width: 300px;*/
    /*width: fit-content;*/
    /*width: 100%;*/
    align-items: center;
    margin: 3px 0px;
}

.indicator__bg {
    /*position: relative;*/
    display: flex;
    align-items: center;
    background: #ddffcc;
    /*border: 2px solid;*/
    /*border-color: #449944;*/
    color: rgb(10,100,10,0.75);
    /*height: 40px;*/
    /*width: fit-content;*/
    /*width: 40px;*/
    border-radius: 20px;
    /*padding: 0px 20px;*/
}

.indicator__ico {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

.indicator__target {
    display: flex;
    background-size: cover;
    height: 30px;
    width: 30px;
}

/*
 * Status banner settings
 */ 

.status_banner {
    display: flex;
    height: 40px;
    /*width: 300px;*/
    /*width: fit-content;*/
    width: 100%;
    margin: 3px 0px;
}

.status__bg {
    position: relative;
    display: flex;
    align-items: center;
    background: #ddffcc;
    /*border: 2px solid;*/
    /*border-color: #449944;*/
    color: rgb(10,100,10,0.75);
    height: 100%;
    /*width: fit-content;*/
    width: 100%;
    border-radius: 20px;
    padding: 0px 20px;
}

.status_text {
    display: flex;
    justify-content: center;
    flex: 0 0 80%;
    /*color: rgb(10,100,10,0.75);*/
    font-family: Lato;
    font-weight: bold;
}

.status__ico {
    display: flex;
    align-items: center;
    /*position: absolute;*/
    /*width: 100%;*#dmpwr_tgt/
    width: 50px;
    height: 100%;
    /*margin-left: 20px;*/
    /*margin: 0 5%;*/
}

/*arrows and target configuration*/
.status__arrow {
    /*position: absolute;*/
    position: relative;
    background-size: cover;
    width: 12px;
    height: 20px;
    transform: translateX(0px);
}

.second {
    position: absolute;
    margin-left: 6px;
    transform: translateX(0px);
}

.status__target {
    display: block;
    /*position: absolute;*/
    position: relative;
    background-size: cover;
    /*width: 24px;*/
    /*height: 22px;*/
    transform: translateX(5px);
}

.status__target.drive_st {
    background-image: url('../ASSERTED.svg');
    width: 40px;
    height: 33px;
}

.status__target.motion_st {
    background-image: url('../TARGET.svg');
    width: 24px;
    height: 27px;
}

.arrw_img {
    background-image: url('../MOVE.svg');
}

.status__target.arm_st {
    background-image: url('../DISARMED.svg');
    width: 40px;
    height: 40px;
}

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateX(0px) scale(1);}
  25%{opacity: 0; transform: translateX(10px) scale(0.9);}
  26%{opacity: 0; transform: translateX(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateX(0px) scale(1);}
}

@keyframes pulseIcon {
  0% {opacity: 0.1; transform: translateX(5px) scale(0.1);}
  25%{opacity: 0.30; transform: translateX(5px) scale(0.30);}
  50%{opacity: 0.60; transform: translateX(5px) scale(0.6);}
  75% {opacity: 1.0; transform: translateX(5px) scale(1.00);}
  100% {opacity: 1.0; transform: translateX(5px) scale(1.0);}
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.first.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.pulseTarget {
    animation-name: pulseIcon;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/*stationary configuration*/
.status__stop.motion_st {
    position: relative;
    background-size: cover;
    background-image: url('../STATIONARY.svg');
    width: 30px;
    height: 30px;
    transform: translateX(0px);
}

/*brakes configuration*/

.status__brake {
    position: relative;
    background-size: cover;
    width: 8px;
    height: 25px;
}

.status__brake.left_b {
    background-image: url('../BRAKE-Lred.svg');
    transform: translateX(8px);
}

.status__brake.right_b {
    background-image: url('../BRAKE-Rred.svg');
    transform: translateX(-8px);
}

.status__brkpad.motion_st {
    position: relative;
    background-size: cover;
    background-image: url('../BRAKED-red.svg');
    width: 30px;
    height: 25px;
    transform: translateX(0px);
}

@keyframes fromLeft {
  0% {opacity: 0; transform: translateX(0px) scale(0.1);}
  25%{opacity: 0.5; transform: translateX(2px) scale(0.35);}
  50%{opacity: 0.75; transform: translateX(4px) scale(0.65);}
  75% {opacity: 1; transform: translateX(8px) scale(0.95);}
  100% {opacity: 0; transform: translateX(8px) scale(1);}
}

@keyframes fromRight {
  0% {opacity: 0; transform: translateX(0px) scale(0.1);}
  25%{opacity: 0.5; transform: translateX(-2px) scale(0.35);}
  50%{opacity: 0.75; transform: translateX(-4px) scale(0.65);}
  75% {opacity: 1; transform: translateX(-8px) scale(0.95);}
  100% {opacity: 0; transform: translateX(-8px) scale(1);}
}

@keyframes toLeft {
  0% {opacity: 1; transform: translateX(8px) scale(1.0);}
  25%{opacity: 1; transform: translateX(4px) scale(0.95);}
  50%{opacity: 0.75; transform: translateX(2px) scale(0.65);}
  75% {opacity: 0.5; transform: translateX(0px) scale(0.35);}
  100% {opacity: 0; transform: translateX(0px) scale(0.1);}
}

@keyframes toRight {
  0% {opacity: 1; transform: translateX(-8px) scale(1.0);}
  25%{opacity: 1; transform: translateX(-4px) scale(0.95);}
  50%{opacity: 0.75; transform: translateX(-2px) scale(0.65);}
  75% {opacity: 0.5; transform: translateX(0px) scale(0.35);}
  100% {opacity: 0; transform: translateX(0px) scale(0.1);}
}

.applyBrakes {
    /*animation-name: fromLeft;*/
    animation-name: fromLeft;
    animation-duration:1.0s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.right_b.applyBrakes {
    /*animation-name: fromRight;*/
    animation-name: fromRight;
    animation-duration:1.0s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.releaseBrakes {
    /*animation-name: fromLeft;*/
    animation-name: toLeft;
    animation-duration:1.0s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.right_b.releaseBrakes {
    /*animation-name: fromRight;*/
    animation-name: toRight;
    animation-duration:1.0s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}


#x1 {
    background-image: url('../BRAKE-L.svg');
}

#x2 {
    background-image: url('../BRAKE-R.svg');
}
