html {
    font-family: Lato light, sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    /*box-sizing: border-box;*/
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #474f61;
    color: #cff9f3;
    padding: 15px;
}

.left_p {
    width: 33.33%;
}

.center_p {
    width: 33.33%;
}

.right_p {
    width: 33.33%;
}

.indicator {
    height: 20px;
    width: 20px;
    background-color: #61fb00;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    margin: 0 10px;
}

.section_col {
    display: flex;
    flex-direction: column;
    padding: 0 0;
}

.ecs_mech__status {
    display: inline-flex;
    align-items: center;
    margin: 2px 0;
}

/*.main__onoff-on, .main__onoff-off {*/
button, select{
    border-radius: 10px;
}

.main__onoff {
    display: flex;
}

.main__onoff-on, .main__onoff-off {
    display: inline-block;
    border-width: 0;
    font: inherit;
    font-size: 0.8em;
    cursor: pointer;
    transition: 200ms;
}

.main__onoff-on {
    border-radius: 10px 0 0 10px;
    background-color: #AAFFAA;
    padding: 2px 10px 2px 10px;
}

.main__onoff-on:active {
    background-color: #22FF55;
    color: #558811;
}

.main__onoff-off {
    border-radius: 0 10px 10px 0;
    background-color: #FFAAAA;
    padding: 2px 10px 2px 10px;
}

.main__onoff-off:active {
    background-color: #FF001f;
    color: #ffafaf;
}

button.drive_button {
    width: 120px;
    height: 30px;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0px;
}

button.drive_button.assert {
    background: #00ff00;
}

button.drive_button,
button.drive_button .bttn_text,
button.drive_button .bttn_img {
    transition: 200ms;
}

button.drive_button .bttn_text {
    transform: translateX(0px);
    width: 80px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.drive_button .bttn_img {
    position: absolute;
    height: 25px;
    width: 40px;
    transform: translateX(78px);
    border-left: 1px solid #449944;
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding: 0px 2px 0px 2px;*/
}

button.drive_button.assert:hover {
    background: #66ff66;
}

button.drive_button.assert:active {
    box-shadow: 0px 0px 15px #99ff99;
}

button.drive_button.assert:hover .bttn_text{
    color: transparent;
}

button.drive_button:hover .bttn_img{
    width: 120px;
    border-left: none;
    transform: translateX(0);
}
