<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Test 666</title>
        <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
        <!--<script>-->
            <!--function-->
            <!--window.setInterval(updateLST,1000);-->
            <!--function updateLST() {-->
                            <!--var tcs_lst = {{ value }};-->
                            <!--document.getElementById("lst").innerHTML = tcs_lst;-->
                        <!--}-->
        <!--</script>-->
    </head>
    <body>
        <main>
            <!--<p>TCS LST is: {{ value }}</p>-->
            <p>TCS LST is: <span id="lst">{{ value_lst }}</span></p>
            <p>TCS Heartbeat is: <span id="hb">{{ value_hb }}</span></p>
            <!--<p>TCS LST is: <span id="lst"></span></p>-->
            <p>This is to see if it updates: {{ test }}</p>
        </main>
        <p id="demo"></p>
        <script>
            $(document).ready(function() {
                            setInterval("getEpicsVals()",500);
                        });
            function getEpicsVals() {
                            //$("#lst").load("/lst");
                            $.getJSON({
                            url: "/epics",
                            success: function(data) {
                                            $("#lst").text(data.value_lst);
                                            $("#hb").text(data.value_hb);
                                        }
                                        });
                        }
        </script>
    </body>
</html>

