<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BOSS WebUI</title>
        <link rel="stylesheet" href="/static/css/styles.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='page_render.js') }}" charset="utf-8"></script>
    </head>
    <body>
        <header class="banner">
            <div class="banner__title">BOSS Web UI</div>
            <div class="banner__status">
                <li class="banner__status-mode" id="tel_mode">Standby</li>
                <li class="banner__status-power" id="tel_power">Commercial</li>
            </div>
        </header>
        <main class="main">
            <div class="left_p">
                <section class="test_crap">
                    <p>TCS LST is: <span id="lst">{{ data['tcs_lst'] }}</span></p>
                    <p>TCS Heartbeat is: <span id="hb">{{ data['tcs_hb'] }}</span></p>
                    <p>Enter a number here: <input id="inp1" type="text" name="a1" />
                        <button type="submit" id="sendb">Sum the HB!</button>
                    </p>
                    <!--<p>This is to see if it updates: {{ test }}</p>-->
                </section>
                <section class="ecs_power">
                    <div class="main__onoff">
                        <span class="main__onoff-label">Power</span>
                            <button class="main__onoff-on">ON</button><button class="main__onoff-off">OFF</button>
                    </div>
                    <ul class="section_col">
                        <li class="ecs_mech__status"><span class="indicator" id="dome_pwr"></span> Dome</li>
                        <li class="ecs_mech__status"><span class="indicator" id="ts_pwr"></span> Top Shutter</li>
                        <li class="ecs_mech__status"><span class="indicator" id="bs_pwr"></span> Bottom Shutter</li>
                        <li class="ecs_mech__status"><span class="indicator" id="evg_pwr"></span> East Ventgate</li>
                        <li class="ecs_mech__status"><span class="indicator" id="wvg_pwr"></span> West Ventgate</li>
                    </ul>
                </section>
                <section class="ecs_init">
                    <div class="ecs_init__cmd">
                        <span class="ecs_init__cmd-label">Initialize</span>
                        <button class="ecs_init__cmd-bttn">INIT</button>
                    </div>
                </section>
                <section class="ecs_svclose">
                    <p>Place holder for Shutters and Vents Table</p>
                </section>
                <section class="ecs_dpark">
                        <button class="main__cmd-bttn">PARK</button>
                        <span class="ecs_dpark__status">STOPPED</span>
                </section>
            </div>
            <div class="center_p">
                <section class="ecs_env">
                    <p>Place holder for ECS Environment</p>
                </section>
                <section class="covers_cmd">
                    <p>Place holder for Covers Commands</p>
                </section>
            </div>
            <div class="right_p">
                <section class="hbs">
                    <p>Place holder for HBS control</p>
                </section>
                <section class="crcs">
                    <p>Place holder for CRCS control</p>
                </section>
                <section class="mcs">
                    <p>Place holder for MCS control</p>
                    <div class="assert">
                        <select class="assert__ddm" id="az_assrt">
                            <option value="" selected disabled hidden>Select Action</option>
                            <option value="2">Assert</option>
                            <option value="1">Disassert</option>
                        </select>
                    </div>
                </section>
            </div>
        </main>
        <footer class="footer">
        </footer>
    </body>
</html>

